.background {
    background-image: linear-gradient(#101010, #1a1a1a, #101010);
}
/* Títulos das páginas */
.tittle_labels {
    font-size: 96px;
    font-family: 'MedievalSharp';
    color: #FFFDD0;
}
/* Botões universais */
.menu_btns {
    background-image: linear-gradient(transparent, transparent);
    font-family: 'MedievalSharp';
    font-size: 32px;
    border-radius: 20px;
    border-color: #FFFBA9;
    color: #D19275;
    border-width: 4px;
    box-shadow: 2px 0px 5px rgba(255, 251, 169, 0.3);
}

/* Css Referente ao frame 2 -> Login */

.fr2_entry {
    background-image: linear-gradient(transparent, transparent);
    background-color: transparent;
    font-family: 'MedievalSharp';
    font-size: 16px;
    border-radius: 16px;
    border-color: #FFFBA9;
    color: #FFFDD0;
    border-width: 4px;   
    box-shadow: 2px 0px 5px rgba(255, 251, 169, 0.3);
}

.fr2_labels {
    font-family: 'MedievalSharp';
    font-size: 20px;
    color: #D19275;
}

.side_btns {
    background-image: linear-gradient(transparent, transparent);
    font-family: 'MedievalSharp';
    font-size: 24px;
    border-radius: 20px;
    border-color: #FFFBA9;
    color: #fffff0;
    border-width: 4px;
    box-shadow: 2px 0px 5px rgba(255, 251, 169, 0.3);
}

.fr2_forget {
    background-image: linear-gradient(transparent, transparent);
    font-family: 'MedievalSharp';
    font-size: 14px;
    border-color: transparent;
    box-shadow: none;
    color: #fffff0;
}

.fr4_warning {
    background-image: linear-gradient(transparent, transparent);
    font-family: 'MedievalSharp';
    font-size: 16px;
    border-color: transparent;
    box-shadow: none;
    color: #fffff0;
}

/* Frame 5 principal: Bestiário, Fosso, Colíseu*/
.fr5_tittles {
    background-image: linear-gradient(transparent, transparent);
    font-family: 'MedievalSharp';
    font-size: 64px;
    border-color: transparent;
    box-shadow: none;
    color: #FFFDD0;
}

.fr5_advancebutton {
    box-shadow: none;
    font-size: 0px;
    outline: none;
    border: none;
    background-image: url('../img_files/advance.png');
    background-repeat: no-repeat;
}

.fr5_returnbutton {
    box-shadow: none;
    font-size: 0px;
    outline: none;
    border: none;
    background-image: url('../img_files/return.png');
    background-repeat: no-repeat;
}

.fr5_levelbar {
    border-width: 3px;
    border-color: #2D2822;
    border-style: solid;
    color: transparent;
}

.fr5_bar {
    background-color: white;
    box-shadow: 10px 6px 10px rgba(255, 255, 255, 0.2);
    border-width: 2px;
    border-color: #2D2822;
    border-style: solid;
}

.fr5_exp_label {
    font-family: 'MedievalSharp';
    font-size: 13px;
    color: white;
    font-weight: bold;
    text-shadow: 
        1px 1px 0px #000000,   /* Sombra preta no canto inferior direito */
        -1px -1px 0px #000000, /* Sombra preta no canto superior esquerdo */
        -1px 1px 0px #000000,  /* Sombra preta no canto inferior esquerdo */
        1px -1px 0px #000000,  /* Sombra preta no canto superior direito */
        2px 2px 2px #000000;   /* Sombra suave ao redor para efeito 3D */
}

.fr5_label_lvl_text {
    font-family: 'MedievalSharp';
    font-size: 24px;
    color: #FFDFA3;
    font-weight: bold;
}

.fr5_label_lvl {
    font-family: 'MedievalSharp';
    font-size: 32px;
    color: white;  
}

.fr5_page_view {
    box-shadow: none;
    font-size: 0px;
    outline: none;
    border: none;
    background-image: url('../img_files/bestiary_page1.png');
    background-repeat: no-repeat;
}

.fr5_btn_sort {
    box-shadow: none;
    font-size: 0px;
    outline: none;
    border: none;
    background-image: url('../img_files/sort_button.png');
    background-repeat: no-repeat;
}

.fr5_text_sort {
    font-family: 'MedievalSharp';
    font-size: 24px;
    color: white;
}

.fr5_dragon_label {
    font-family: 'MedievalSharp';
    font-size: 18px;
    color: rgb(255, 255, 255);
    background-color: transparent;
    background-image: linear-gradient(transparent, transparent);
    border-width: 1px;
    border-color: #97978F;
    border-style: none;
    border-radius: 20px;
    font-weight: bold;

    text-shadow: 
        2px 2px 0px #000000,   /* Sombra preta no canto inferior direito */
        -2px -2px 0px #000000, /* Sombra preta no canto superior esquerdo */
        -2px 2px 0px #000000,  /* Sombra preta no canto inferior esquerdo */
        2px -2px 0px #000000,  /* Sombra preta no canto superior direito */
        2px 2px 2px #000000;   /* Sombra suave ao redor para efeito 3D */
}

.fr5_dragon_age {
    font-size: 13px;
    border-style: solid;
    color: white;
    border-radius: 0px;
}

.fr5_dragon_age_border {
    border-style: none;
}

.fr5_dragon_history {
    font-family: 'MedievalSharp';
    font-size: 14px;
    color: white; 
    font-weight: bold;
}

.fr5_dragon_history_border {
    border-width: 1px;
    border-color: #97978F;
    border-style: solid;
    border-radius: 10px;
}

.fr5_beast_list_border {
    border-width: 2px;
    border-color: #FFFEDD;
    border-style: solid;
    border-radius: 10px;
    background-color: transparent;
}

.fr5_beast_list_scroll {
    border-style: none;
}

.fr5_btns_list {
    font-family: 'MedievalSharp';
    font-size: 24px;
    color: #ffffff; 
    background-image: linear-gradient(transparent, transparent);
    outline: none;
    border-width: 2px;
    border-color: #FFFEDD;
    box-shadow: 2px 0px 5px rgba(255, 253, 212, 0.3);
    border-radius: 0px;
    border-top: none;
    border-left: none;
    border-right: none;
    text-shadow: 
        2px 2px 0px #000000,   /* Sombra preta no canto inferior direito */
        -2px -2px 0px #000000, /* Sombra preta no canto superior esquerdo */
        -2px 2px 0px #000000,  /* Sombra preta no canto inferior esquerdo */
        2px -2px 0px #000000,  /* Sombra preta no canto superior direito */
        2px 2px 2px #000000;   /* Sombra suave ao redor para efeito 3D */
}

.fr5_btns_legendary {
    color: red;
}

.fr5_btns_epic {
    color: #7300FF;
}

.fr5_btns_rare {
    color: #FE9D00;
}

.fr5_btn_marker {
    border-width: 2px;
    border-color: #FFE89D;
    border-style: solid;
    border-radius: 10px;
    background-color: transparent;
}

scrollbar slider {
    background-color: #555; 
    border-radius: 10px; 
    min-height: 20px; 
}

scrollbar {
    background-color: transparent; /* Cor de fundo da trilha */
    border-radius: 10px;
    margin: 0px;
    border: 0px solid #ccc; /* Bordas */
}

scrollbar slider:hover {
    background-color: #555; /* Cor do thumb quando em hover */
}